<nav>
        <div>
            <ul class="menu">
                <li class="submenu">
                    <a class=" active" aria-current="page" href="/"><img class="logo" src="/images/inst2.png" alt=""></a>
                </li>
                <li class="submenu">
                    <a class="" href="#"><img class="logo" src="/images/inst4.png" alt=""></a>
                </li>
                <li class="submenu">
                    <a class="" href="/create"><img class="logo" src="/images/inst3.png" alt=""></a>
                </li>
                <li class="submenu">
                    <a class=" disabled"><img class="logo" src="/images/inst1.png" alt=""></a>
                </li>
             </ul>
        </div>
    </nav>