<div class="navsuperior">
    <div class="navsuperioritem">
        <img class="logowhite" src="/images/logo_white.png" alt=""> 
    </div>
    <div class="navsuperioritem">
        <img class="like" src="/images/like.png" alt=""> 
    </div>
</div>