
{{> navlogo}}

{{#each posts as |post|}}
    <div>
        <img src="{{post.postimage}}" class="card-img-top" alt="...">
        <p class="card-text">{{post.description}}</p>
    </div>

{{/each}}
    
{{> navbar}}