
html, body {
    font-family: "Arial", 'Roboto', sans-serif;
    font-size: 13px;
    max-width: 500px;
}
html {
  max-width: 650px;
height: 945px;
background-image: url("../images/mock.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: contain;
overflow: hidden;
}
body {
  width: 330px;
  position: absolute;
  top: 130px;
  left: 158px;
  height: 683px;
  background: black;
  border-radius: 30px;
  overflow: hidden;
}	

.container{
  overflow-x: hidden;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}	
main.container{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

h3{
    font-size: 18px;
    font-weight: bold;
    color: #8E8E8E;
}

nav{
    width: 100%;
    background: #000;
    position: absolute;
    bottom: 0px;
    max-width: 700px;
}
.menu{
    width: 100%;
    background: #000;
    display: flex;
    margin: 0;
    padding: 0;

}
.submenu{
    width: 25%;
}
li.submenu{
    display: flex;
    padding: 4% 7%;
}

.contenedorfom {
  background: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  max-height: 100%;
}

.formu {
    background-color: white;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding: 30px;
    text-align: center;
}
.comment {
  color: white;
  padding: 0px 5%;
}
.formu h3{
    margin: 10px 0 25px 0;
}
.formuedit {
  background-color: black;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 50px;
  text-align: center;
}
#userdescription {
  margin-bottom: 10px;
}
#userimage {
  margin-bottom: 10px;
}
.logoupdate{
  margin-bottom: 20px;
}
.closeupdate{
  color: white;
  position: absolute;
  right: 15px;
  font-size: 27px;
  top: 16px;
}
.btn-edit:hover {
  color: white;
  font-weight: bold;
}
.formcomments {
  padding: 50% 10%;
}
.txtcomments{
  color: white;
  font-size: 17px;
  text-align: center;
  width: 100%;
}
.navsuperioritem {
  margin: 0 auto;
}
.formuedit h3{
  margin: 10px 0 25px 0;
}

.btncreate{
    width: 100%;
    background: #4BB4F8;
    border: none;
    font-weight: bold;
}

.formu a {
    text-decoration: none;
    color:#4BB4F8; 
}


input {
    color: #878787;
}
.contenedorlogo{
    text-align: center;
}
.logo{
    max-width: 100%;
    width: 200px;
}
.icono{
    max-width: 80%;
    width: 200px;
}
.info{
    font-size: 11px;
    text-align: center;
    margin: 5% 0;
}
 .formulogin{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 10px;
 }

.btnlogin{
    margin-top: 20px;
}
.logologin{
    margin-bottom: 20px;
}
.navsuperior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
    padding: 4% 4% 0% 4%;
}
img.logowhite{
    max-width: 150px;
    margin-top: 12px;
}
img.like{
  max-width: 27px;
  margin-right: 10px;
}
.likeform{
  display: inline;
}
.likeform button{
  background: transparent;
  border: none;
}

/* POST */

p {
    font-size: 14px;
}
.post{
background: black;			  
}
.img_post {
    max-width: 100%;
width: 100%
}
.icons_post {
margin-bottom: 12px;
}
.icon_post {
width: 25px;
margin-right: 10px;
}
.test-post {
padding: 5%;
color: white;
}
.save{
float: right;
}
.userimgs {
max-width: 100px;
width: 40px;
height: 40px;
border-radius: 30px;
}
.usernames_post{
display: inline;
color: white;
}
.user-post{
padding: 5%;
}
.user-post a {
  text-transform: capitalize;
  margin-left: 12px;
  text-decoration: none;
}


/* PERFIL */

.perfil{
    background: black;
    color: white;
    padding: 4%;
}
.userimgperfil {
    max-width: 100px;
    width: 70px;
    height: 70px;
    border-radius: 40px;
  }
.user-detail-perfil{
    display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.info{
    text-align: center;
}
.info p {
    margin: 0px;
    font-size: 13px;
  }
.txtbg {
    font-size: 18px;
}
.description-perfil {
    margin-top: 10px;
  }
.description_post p b {
    text-transform: capitalize;
  }
.btn-edit {
    background: #282828;
    padding: 5px 135px;
    text-decoration: none;
    color: white;
    border-radius: 9px;
  }
  .your-post{
    background: black;
    padding-top: 25px;
  }
.your-image-post {
    display: inline;
    width: 32.4%;
    margin-bottom: 3px;
    vertical-align: top;
  }
.user-edit {
    margin: 15px 0px;
  }

#description {
  width: 98%;
  margin-top: 25px;
  font-family: "Arial", 'Roboto', sans-serif;
}
.btnewpost {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  border: none;
}
#image {
  max-width: 100%;
  height: 160px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.imgfrmpost {
  text-align: center;
  padding: 20% 10% 0%;
}
.userimgs_post {
  margin: 0 auto;
  margin-top: 20px;
}
.user-description-perfil {
  text-align: center;
  width: 100%;
  margin: 5% 0%;
}
/* FORM PUBLIC POST */

.frmnewpost {
  padding: 10%;
}
#image, #description {
  border-radius: 0px;
  width: 100%;
}
.btnewpost {
  margin-top: 22px;
  background: #4BB4F8;
}
label {
  color: #a0a0a0;
  font-family: arial;
}


		
@media screen and (max-width: 630px) {
  body {
    width: 100%;
	max-width: 100%;
	position: initial;
	margin: 0px;
	height: 100%;
	border-radius: 0px;
  }
  html {
    width: 100%;
	max-width: 100%;
	border-radius: 0px !important;
  }		
}
