
html, body {
    font-family: "Arial", 'Roboto', sans-serif;
    font-size: 13px;
    max-width: 500px;
}
main.container{
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0;
    padding: 0;
}

h3{
    font-size: 18px;
    font-weight: bold;
    color: #8E8E8E;
}

nav{
    width: 100%;
    background: #000;
    position: absolute;
    bottom: 0px;
    max-width: 500px;
}
.menu{
    width: 100%;
    background: #000;
    display: flex;
    margin: 0;
    padding: 0;

}
.submenu{
    width: 25%;
}
li.submenu{
    display: flex;
    padding: 4% 7%;
}

.contenedorfom{
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.formu {
    background-color: white;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    border: 1px solid #d1d1d1;
    width: 350px;
    padding: 50px;
    text-align: center;
}

.formu h3{
    margin: 10px 0 25px 0;
}

.btncreate{
    width: 100%;
    background: #4BB4F8;
    border: none;
    font-weight: bold;
}

.formu a {
    text-decoration: none;
    color:#4BB4F8; 
}


input {
    color: #878787;
}
.contenedorlogo{
    text-align: center;
}
.logo{
    max-width: 100%;
    width: 200px;

}
.info{
    font-size: 11px;
    text-align: center;
    margin: 5% 0;
}
 .formulogin{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 10px;
 }

.btnlogin{
    margin-top: 20px;
}
.logologin{
    margin-bottom: 20px;
}
.navsuperior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
    padding: 4%;
}
img.logowhite{
    max-width: 150px;
    margin-top: 12px;
}
img.like{
    max-width: 40px;
}