<form action="/posts/{{id}}/comments" method="post" class="formcomments">
    <a class=" disabled" href="/"><p class="closeupdate">x</p></a>
    <p class="contenedorlogo">
        <img class="logoupdate" src="/images/logo_white.png" alt="Instagram" width="160"> 
    </p>
    <div class="input-group">
        <p class="txtcomments">Write a coment por the post</p>
        <textarea class="form-control" name="description" aria-label="With textarea" id="description" rows="5">{{post.comment}}</textarea>
    </div>
    <button type="submit" class="btncreate btn btn-primary mt-3">PUBLIC</button>
</form>

